---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4997'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8\u0026max_id=1071033154735305036_1331827683","next_max_id":"1071033154735305036_1331827683"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":3,"data":[{"created_time":"1441917534","text":"Oh
        man! This place made it to the top of our list for this adventure too! You''ve
        seen it all Patrick!!","from":{"username":"sarawillis1","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11423000_910727142299164_1475603424_a.jpg","id":"25427748","full_name":"Sara
        Willis"},"id":"1071204381594093060"},{"created_time":"1441917610","text":"Dang
        \ud83d\ude0d","from":{"username":"veekster","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xtf1\/t51.2885-19\/11117059_1743047859255223_204225114_a.jpg","id":"31179150","full_name":"Victoria
        Wright"},"id":"1071205017089869361"},{"created_time":"1441917611","text":"Lighting
        and colors \ud83d\ude0d\ud83d\udc4c\ud83c\udffc","from":{"username":"alli_schiller","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11374661_915477525176548_895744243_a.jpg","id":"2545154","full_name":"Allison
        Schiller"},"id":"1071205026963260979"}]},"filter":"Normal","created_time":"1441917390","link":"https:\/\/instagram.com\/p\/7drZseQgTd\/","likes":{"count":48,"data":[{"username":"genopeiro","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11363851_830893057031561_364730697_a.jpg","id":"1341369908","full_name":"moments
        compartits"},{"username":"asr2196","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/11352335_1629814467294656_1613124219_a.jpg","id":"1574293165","full_name":"Alec
        Rogerson"},{"username":"don.raolo","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11848968_858577924249156_1794435980_a.jpg","id":"1234426110","full_name":""},{"username":"lhphotos_","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11849044_728527053936548_2024139799_a.jpg","id":"1374510655","full_name":"Lalalala"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11917896_757556771021785_1596755507_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/11917896_757556771021785_1596755507_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11917896_757556771021785_1596755507_n.jpg","width":640,"height":640}},"users_in_photo":[{"position":{"y":0.01633987,"x":0.301333333},"user":{"username":"blackberryfarm","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11875565_1809485202611081_1957425364_a.jpg","id":"5829052","full_name":"Blackberry
        Farm"}},{"position":{"y":0.101333333,"x":0.286666667},"user":{"username":"lifeandthyme","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/11355908_1878267725731828_172207869_a.jpg","id":"220612867","full_name":"Life
        \u0026 Thyme"}}],"caption":{"created_time":"1441917390","text":"The best seat
        in the house.\n\n@blackberryfarm shot for @lifeandthyme Issue Two \/\/ April
        ''15.","from":{"username":"iampatrickchin","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xpa1\/t51.2885-19\/11208293_813685465373849_705704225_a.jpg","id":"16014224","full_name":"Patrick
        Michael Chin"},"id":"1071203171218621857"},"user_has_liked":false,"id":"1071203168123225309_16014224","user":{"username":"iampatrickchin","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xpa1\/t51.2885-19\/11208293_813685465373849_705704225_a.jpg","id":"16014224","full_name":"Patrick
        Michael Chin"}},{"attribution":null,"tags":["nyfw"],"type":"image","location":{"latitude":40.742553157,"name":"Blue
        Bottle Coffee","longitude":-74.007086569,"id":9201955},"comments":{"count":7,"data":[{"created_time":"1441917133","text":"great
        images","from":{"username":"littlebeast.nyc","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/10932363_1588724568010741_499060148_a.jpg","id":"1621580491","full_name":"little
        beast new york"},"id":"1071201016401113591"},{"created_time":"1441917144","text":"@chuddles
        @egrafton @awesolow go for me! send pics! @tensafefrogs @ericseifer[...]
