---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4995'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8\u0026max_id=1071695894376667860_2061806077","next_max_id":"1071695894376667860_2061806077"},"meta":{"code":200},"data":[{"attribution":null,"tags":["nichehp","fpme","foundforaged","bldg25","morningslikethese","pnw","photographgangfeatureme","live_pnw","thedulcetlife","portland","thatsdarling","thepeoplescreatives","traveloregon","searchwandercollect","darlingmovement","madewithfaded","pdx","pnwcollectives","lifeofadventure","habitandhome","liveauthentic","portlandnw","darlingweekend","creativityfound"],"type":"image","location":null,"comments":{"count":2,"data":[{"created_time":"1441992846","text":"#portland
        #pdx #portlandnw #pnw #live_PNW #darlingweekend #madewithfaded #liveauthentic
        #nichehp #habitandhome #morningslikethese #thedulcetlife #traveloregon #foundforaged
        #pnwcollectives #creativityfound #darlingweekend #darlingmovement #thatsdarling
        #thepeoplescreatives \n#lifeofadventure #habitandhome #photographgangfeatureme
        #searchwandercollect #fpme #bldg25","from":{"username":"portlandfresh","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11809811_105136459839570_1891134488_a.jpg","id":"1331827683","full_name":"Christiann
        Koepke"},"id":"1071836141149876919"},{"created_time":"1441994880","text":"Good
        one! Thank you.","from":{"username":"stevenbustrin","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/s150x150\/11374076_1055996167753407_1951457425_a.jpg","id":"36763502","full_name":"S
        T E V E N \u2022 D O U G L A S"},"id":"1071853201506562949"}]},"filter":"Normal","created_time":"1441992751","link":"https:\/\/instagram.com\/p\/7f7JEeqfIr\/","likes":{"count":130,"data":[{"username":"angelic__lili","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11849194_1484842568502246_1438581942_a.jpg","id":"1776316808","full_name":"Lili"},{"username":"mirlime","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11820680_724433167684013_894680295_a.jpg","id":"1981000896","full_name":"Mirli"},{"username":"venturingeast","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11357274_1573814716215564_1148356050_a.jpg","id":"1904604282","full_name":"Kellie
        Karbach"},{"username":"random.zukes","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xfp1\/t51.2885-19\/s150x150\/1742479_1630576980534204_895074399_a.jpg","id":"2064659980","full_name":"Jennifer
        Iizuka"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e35\/11909357_1638328416449361_1560792675_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e35\/11909357_1638328416449361_1560792675_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11909357_1638328416449361_1560792675_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1441992751","text":"PNW
        long summer days are quickly leaving us! I''m loving the cooler nights but
        reminiscing back to this beach shoot captured in August on film. Full post
        is on the journal now ... \u2022\nMinolta SRT 101 | Fuji Superia 200","from":{"username":"portlandfresh","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11809811_105136459839570_1891134488_a.jpg","id":"1331827683","full_name":"Christiann
        Koepke"},"id":"1071835792359944860"},"user_has_liked":false,"id":"1071835344366334507_1331827683","user":{"username":"portlandfresh","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11809811_105136459839570_1891134488_a.jpg","id":"1331827683","full_name":"Christiann
        Koepke"}},{"attribution":null,"tags":["brazil","wanderlust","stellerstories","ilhagrande"],"type":"image","location":null,"comments":{"count":6,"data":[{"created_time":"1441989900","text":"I''m
        in.","from":{"username":"photojbartlett","profile_picture":"https:\/\/igcdn-p[...]
