---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4991'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8\u0026max_id=1070957145807993037_1770845","next_max_id":"1070957145807993037_1770845"},"meta":{"code":200},"data":[{"attribution":null,"tags":["thejoysofcleaningbloodofftheceiling","atinyblessing"],"type":"image","location":null,"comments":{"count":4,"data":[{"created_time":"1441907545","text":"What
        a cutie\ud83d\ude0d","from":{"username":"_chopwood_carrywater_","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11429558_790025894451276_745449251_a.jpg","id":"30744283","full_name":"Cy
        Scammell"},"id":"1071120583743576864"},{"created_time":"1441907617","text":"Poor
        thing. Glad it survived.","from":{"username":"margjm","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11934647_405795522949396_1014157495_a.jpg","id":"343782728","full_name":"Margaret"},"id":"1071121186616056650"},{"created_time":"1441907654","text":"Well
        done dr Doolittle ;)","from":{"username":"cyclinprof","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpt1\/t51.2885-19\/10950536_1553666838236987_1563168149_a.jpg","id":"14946523","full_name":"Cyclinprof"},"id":"1071121494503136102"},{"created_time":"1441908219","text":"Aw!
        The poor baby \ud83d\ude15 Great job, Dr. Jenni! \ud83d\udc4d","from":{"username":"petitcanard","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11355790_859024970845181_666778339_a.jpg","id":"16800774","full_name":"Melissa"},"id":"1071126239284369621"}]},"filter":"Normal","created_time":"1441907292","link":"https:\/\/instagram.com\/p\/7dYJD7pRgA\/","likes":{"count":19,"data":[{"username":"margjm","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11934647_405795522949396_1014157495_a.jpg","id":"343782728","full_name":"Margaret"},{"username":"stephaniefondi","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11939329_1890017607890498_1204557880_a.jpg","id":"317990219","full_name":"St\u00e9phanie"},{"username":"ioannapapageorgiou","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11326045_681359541999093_1777411957_a.jpg","id":"314053438","full_name":"\u0399\u03c9\u03b1\u03bd\u03bd\u03b1\u03a0\u03b1\u03c0\u03b1\u03b3\u03b5\u03c9\u03c1\u03b3\u03b9\u03bf\u03c5"},{"username":"chloewinterbutler","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11324355_1697258453831415_1726105490_a.jpg","id":"391058263","full_name":"Chloe"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11906178_1062054320479691_154231210_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/11906178_1062054320479691_154231210_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11906178_1062054320479691_154231210_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1441907292","text":"This
        sweet baby chickadee flew into my apartment this morning and managed to scrape
        its head all over my ceiling before I was able to catch it. This photo is
        post doctoring its tiny head before setting it free. #thejoysofcleaningbloodofftheceiling
        #atinyblessing","from":{"username":"wild_iris__","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11374057_502423106587276_1768116806_a.jpg","id":"634732373","full_name":""},"id":"1071118464244325003"},"user_has_liked":false,"id":"1071118462197504000_634732373","user":{"username":"wild_iris__","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11374057_502423106587276_1768116806_a.jpg","id":"634732373","full_name":""}},{"attribution":null,"tags":["intothewild","vscocam","exploremore","rei1440project","vscogood","coloradotography","vsco","vsconature","mountainstandard","mountainstones"],"type":"image","location":{"latitude":39.474912972,"name":"Mohawk
        Lakes","longitude":-106.042985914,"id":465698063},"comments":{"count":4,"data":[{"created_time":"1441905978","text":"So
        perfect. I just got into Littleton this morning and I can''t wait to explore.","from":{"username":"tnylgn","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11336099_470644913115863_1262126394_a.jpg","id":"2061806077","full_name":"Tony
        Logan"},"id":"1071107435869369558"},{"created_time":"1441906148","text":"@tnylgn
        enjoy yo[...]
