---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4996'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8\u0026max_id=1071603072031752165_7522782","next_max_id":"1071603072031752165_7522782"},"meta":{"code":200},"data":[{"attribution":null,"tags":["brazil","wanderlust","stellerstories","ilhagrande"],"type":"image","location":null,"comments":{"count":5,"data":[{"created_time":"1441989900","text":"I''m
        in.","from":{"username":"photojbartlett","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xfp1\/t51.2885-19\/10954216_523558097783931_1568964727_a.jpg","id":"3261761","full_name":"Jeff
        Bartlett"},"id":"1071811423384653971"},{"created_time":"1441990290","text":"Such
        a great photo!","from":{"username":"isaberries","profile_picture":"https:\/\/igcdn-photos-a-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11325161_386227351582640_459982176_a.jpg","id":"1242331831","full_name":"Isa  \ud83c\uddf2\ud83c\uddfd  \ud83c\uddf8\ud83c\uddea  \ud83c\uddeb\ud83c\uddee"},"id":"1071814702164365795"},{"created_time":"1441990885","text":"\ud83d\ude0d","from":{"username":"discoveraustria","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpf1\/t51.2885-19\/10349635_244908462300203_1147237296_a.jpg","id":"1364422143","full_name":"Discover
        Austria \ud83c\udde6\ud83c\uddf9"},"id":"1071819686104814439"},{"created_time":"1441991147","text":"Wow
        fantastic\ud83d\udc99\ud83d\udc4c\ud83c\udffc","from":{"username":"maxlazzi","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11910371_481039085411157_1315033505_a.jpg","id":"15920235","full_name":"M
        A X"},"id":"1071821886453469189"},{"created_time":"1441991471","text":"Wow","from":{"username":"vybz_aditicha_patiz","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11376322_1668960959988590_1346091015_a.jpg","id":"2181621785","full_name":"vybz
        aditicha patiz"},"id":"1071824603389382851"}]},"filter":"Normal","created_time":"1441989748","link":"https:\/\/instagram.com\/p\/7f1ahWjFKE\/","likes":{"count":769,"data":[{"username":"ryan_sulaiman88","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11887174_921342541247242_1458355560_a.jpg","id":"2098207760","full_name":"Ryan
        Sulaiman"},{"username":"h.zlk","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11909971_951527131553256_882652191_a.jpg","id":"2127800800","full_name":"haz"},{"username":"artfavaro","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11934842_1609303175999726_2144134623_a.jpg","id":"2151489810","full_name":"Arthur
        Favaro Linhares"},{"username":"aishe_ash97","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11909389_1624193641180554_459358128_a.jpg","id":"2108760695","full_name":""}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11850339_426134864236737_5221161_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/l\/t51.2885-15\/s150x150\/e35\/c77.0.467.467\/11910376_960135780717580_598928993_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s480x480\/e35\/11850339_426134864236737_5221161_n.jpg","width":480,"height":480}},"users_in_photo":[{"position":{"y":0.805922109,"x":0.6765625},"user":{"username":"brendanvanson","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11375263_1476255672689571_177431994_a.jpg","id":"40070003","full_name":"Brendan
        van Son"}}],"caption":{"created_time":"1441989748","text":"Get inspired to
        explore Brazil from the beaches to the Amazon in @brendanvanson''s latest
        Steller story, \"Brazil\", now featured on Steller. Insert pi\u00f1a colda.
        #stellerstories #Brazil #wanderlust #ilhagrande","from":{"username":"stellerstories","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11378388_486919008141138_2113540452_a.jpg","id":"1147540787","full_name":"Steller"},"id":"1071810159842185252"},"user_has_liked":false,"id":"1071810155320726148_1147540787","user":{"username":"stellerstories","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11378388_486919008141138_2113540452_a.jpg","id":"1147540787","full_name":"Steller"}},{"attribution":null,"tags":["denvercannabis","coloradolife","livwellcannabis","livwellbroadway"],"type":"image","location":{"latitude":39.708617582,"name":"LivWell","longitude":-104.987431329,"id":131205386},"comments":{"count":2,"data":[{"created_time":"1441989724","text":"Beautiful!!","from":{"username":"coloradotography","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11809546_1609487375996475_1213448029_a.jpg","id":"692737163","full_name":"Powerful
        Colorado Photography"},"id":"1071809949668066529"},{"created_time":"1441992149","text":"\ud83d\udc9e","from":{"username":"cocofit007","profile_picture":"https:\[...]
