---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8\u0026max_id=1071445536928334825_6829767","next_max_id":"1071445536928334825_6829767"},"meta":{"code":200},"data":[{"attribution":null,"tags":["united","911"],"type":"image","location":{"latitude":40.711666667,"name":"World
        Trade Center","longitude":-74.0125,"id":212910319},"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441976700","link":"https:\/\/instagram.com\/p\/7fchqPMxAm\/","likes":{"count":130,"data":[{"username":"william7187","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11887023_1016417871754187_1003107900_a.jpg","id":"2057118812","full_name":"william
        vargas"},{"username":"farzinkarimi94","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11379094_1422091324786730_980201432_a.jpg","id":"2074845937","full_name":"farzin"},{"username":"haaanaaa8787","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11373586_1593425100918814_278322231_a.jpg","id":"2097099940","full_name":""},{"username":"arcierojoe","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xpf1\/t51.2885-19\/s150x150\/10611001_952781958123054_789210837_a.jpg","id":"2095866823","full_name":"Joe
        Arciero"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11950710_182843525381281_1930351594_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/11950710_182843525381281_1930351594_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11950710_182843525381281_1930351594_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1441976700","text":"#911
        #united","from":{"username":"moe_camera","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11887044_111949562487892_108545079_a.jpg","id":"258648267","full_name":"\u24dc
        \u24de \u24d4 \u24da \u24d0"},"id":"1071700699381961660"},"user_has_liked":false,"id":"1071700694734671910_258648267","user":{"username":"moe_camera","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11887044_111949562487892_108545079_a.jpg","id":"258648267","full_name":"\u24dc
        \u24de \u24d4 \u24da \u24d0"}},{"attribution":null,"tags":["colorado","livefolk","hotel","letsgosomewhere","livethelittlethings","neverstopexploring","instatravel","mytinyatlas","vsco","justgoshoot","vanishingpoint","mextures","fadedworld","makeadventure","travel","visualsoflife","lifeofadventure"[...]
