---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4993'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8\u0026max_id=1071477862190518636_30235995","next_max_id":"1071477862190518636_30235995"},"meta":{"code":200},"data":[{"attribution":null,"tags":["wildernessculture","getoutstayout","tourtheplanet","ourplanetdaily","nakedplanet","discoverlandscape","simplyadventure","huffpostgram","travelstoke","earthcapture","exploringtheglobe","mytinyatlas","igmasters","adventurethatislife","guardiantravelsnaps","teamtravelers","visitnorway","welltravelled","naturelover_gr","natgeotravel","beautifuldestinations","lifeofadventure","helloworld","warrenjc","wonderful_places","earthfocus","earthpix"],"type":"image","location":null,"comments":{"count":17,"data":[{"created_time":"1441983564","text":"\ud83d\ude33\ud83d\ude33\ud83d\ude33","from":{"username":"mihailonaca","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11856774_701605589969857_1007959011_a.jpg","id":"196328304","full_name":"Mihail"},"id":"1071758273285750401"},{"created_time":"1441983595","text":"Yes!!
        \ud83d\udc9a\ud83d\udc9a","from":{"username":"seanbrucecassidy","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/11032917_651696848290974_848665279_a.jpg","id":"1627152269","full_name":"Sean
        C."},"id":"1071758540731350674"},{"created_time":"1441983690","text":"\ud83d\ude2d\ud83d\ude2d\ud83d\ude2d","from":{"username":"stevesweatpants","profile_picture":"https:\[...]
