---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4993'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8\u0026max_id=1071741504064226157_6829767","next_max_id":"1071741504064226157_6829767"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":26,"data":[{"created_time":"1441996579","text":"I
        cant stop looking this photo .... \ud83d\ude0c","from":{"username":"cheesepita","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11910008_966769150053451_1804211867_a.jpg","id":"347615503","full_name":"Cheesepita"},"id":"1071867457016505663"},{"created_time":"1441996620","text":"The
        places you go \ud83d\udc99","from":{"username":"monaris_","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11925549_675497149253882_297381481_a.jpg","id":"140175","full_name":"Paola
        Franqui"},"id":"1071867797627544929"},{"created_time":"1441996638","text":"\ud83d\ude0d","from":{"username":"jjulianesilva","profile_picture":"https:\/\/scontent.cdnins[...]
