---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4986'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8\u0026max_id=1071764717368051010_25025320","next_max_id":"1071764717368051010_25025320"},"meta":{"code":200},"data":[{"attribution":null,"tags":["ijustwanttobecozy","tattoosandstuff"],"type":"image","location":null,"comments":{"count":1,"data":[{"created_time":"1441999805","text":"Oww
        owww !","from":{"username":"harriet_woodman","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11363938_1669021383315789_1709102422_a.jpg","id":"342389960","full_name":"Harriet"},"id":"1071894514663277916"}]},"filter":"Normal","created_time":"1441999017","link":"https:\/\/instagram.com\/p\/7gHF7pMcck\/","likes":{"count":15,"data":[{"username":"th3nigg1998","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xpf1\/t51.2885-19\/s150x150\/10269011_692091827590956_5847402_a.jpg","id":"203618618","full_name":"ZayZay"},{"username":"mickeyg666","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11333748_800244290091278_1038740542_a.jpg","id":"183514147","full_name":"Logan  McGowan"},{"username":"blindfishy","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xft1\/t51.2885-19\/10560976_688306027885938_756052652_a.jpg","id":"183268140","full_name":"blind
        fishy"},{"username":"gballinsince91","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11427291_1638826163025072_1020655429_a.jpg","id":"195490071","full_name":"Gillian
        Brown"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11326537_1674928056061386_1933876212_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/11326537_1674928056061386_1933876212_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11326537_1674928056061386_1933876212_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1441999017","text":"\ud83c\udf43\ud83c\udf42\ud83c\udf41\ud83c\udf43\ud83c\udf42\ud83c\udf41
        fall is on zee way \/\/ #ijustwanttobecozy #tattoosandstuff","from":{"username":"rachlc9","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11261374_901434796604542_1027843750_a.jpg","id":"20843184","full_name":"rachel
        cross"},"id":"1071887908005332778"},"user_has_liked":false,"id":"1071887905279035172_20843184","user":{"username":"rachlc9","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11261374_901434796604542_1027843750_a.jpg","id":"20843184","full_name":"rachel
        cross"}},{"attribution":null,"tags":["vscofilm"],"type":"image","location":null,"comments":{"count":6,"data":[{"created_time":"1441998856","text":"#VSCOfilm","from":{"username":"iampatrickchin","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xpa1\/t51.2885-19\/11208293_81368[...]
