---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4983'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=1644186282.8fc1dc4.6d08acaf8f4a413cab6a757f5db577c8\u0026max_id=1071777713588869931_634732373","next_max_id":"1071777713588869931_634732373"},"meta":{"code":200},"data":[{"attribution":null,"tags":["colorado","livefolk","pikesnationalforest","letsgosomewhere","livethelittlethings","neverstopexploring","instatravel","mytinyatlas","vsco","justgoshoot","mextures","fadedworld","madewithfaded","makeadventure","travel","visualsoflife","lifeofadventure","vacation","mellow_mextures","liveauthentic","wanderfolk","keepitwild","chasetheworld","chasinglight","finditliveit"],"type":"image","location":{"latitude":39.183333333,"name":"Pike
        National Forest","longitude":-105.316666667,"id":900769120},"comments":{"count":4,"data":[{"created_time":"1442001803","text":"#colorado
        #pikesnationalforest #liveauthentic #livefolk #lifeofadventure #letsgosomewhere
        #visualsoflife #wanderfolk #livethelittlethings #chasetheworld #makeadventure
        #neverstopexploring #keepitwild #finditliveit #mytinyatlas #chasinglight #fadedworld
        #mellow_mextures #vsco #mextures #madewithfaded #instatravel #travel #vacation
        #justgoshoot","from":{"username":"tnylgn","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11336099_470644913115863_1262126394_a.jpg","id":"2061806077","full_name":"Tony
        Logan"},"id":"1071911277213834121"},{"created_time":"1442001890","text":"RAD","from":{"username":"adit.jpg","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11373591_473010359534092_1602402066_a.jpg","id":"1200915795","full_name":"aditia
        djayasudarma"},"id":"1071912003482737607"},{"created_time":"1442001900","text":"Pure","from":{"username":"leo92es7","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11350915_759590180829867_2076043216_a.jpg","id":"309527234","full_name":"Leo
        Estrada"},"id":"1071912089608575953"},{"created_time":"1442002065","text":"\ud83c\udf88\ud83c\udf88\ud83c\udf88
        awesome","from":{"username":"dwwells","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11850261_104132543275301_304880685_a.jpg","id":"326625208","full_name":"Dave
        Wells"},"id":"1071913475347896413"}]},"filter":"Normal","created_time":"1442001795","link":"https:\/\/instagram.com\/p\/7gMZDkENnH\/","likes":{"count":78,"data":[{"username":"_impressionism_","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11348262_1631781587063955_407082514_a.jpg","id":"1642738049","full_name":""},{"username":"ariewb86","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11257245_921941911220771_327006057_a.jpg","id":"1671993915","full_name":"Arie"},{"username":"peter.herbig","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11379913_1452284595092997_239747715_a.jpg","id":"1916482933","full_name":"BigPete"},{"username":"bondan_ms","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11899488_1451609025169873_388093244_a.jpg","id":"1743480335","full_name":"Bondan
        Aji Prakoso MS"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e35\/11374364_1034334206590974_1513578594_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e35\/11374364_1034334206590974_1513578594_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11374364_1034334206590974_1513578594_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1442001795","text":"Greetings
        from Colorado \ud83d\uddfb","from":{"username":"tnylgn","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11336099_470644913115863_1262126394_a.jpg","id":"2061806077","full_name":"Tony
        Logan"},"id":"1071911211363261312"},"user_has_liked":false,"id":"1071911209685539271_2061806077","user":{"username":"tnylgn","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11336099_470644913115863_1262126394_a.jpg","id":"2061806077","full_name":"Tony
        Logan"}},{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":2,"data":[{"created_time":"1442001811","text":"Da
        na na na da na na na na","from":{"username":"rustyrodas","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150[...]
