<h1>Welcome to Instagram</h1>
<h2>Capture and Share the World's Moments</h2>
<p>
  Instagram is a free and simple way to share your life and keep up with other people.
</p>
<p>
  Take a picture or video, then customize it with filters and creative tools. Post it on Instagram and share instantly on Facebook, Twitter, Tumblr and more—or send it directly as a private message. Find people to follow based on things you’re into, and be part of an inspirational community.
</p>
<%= link_to "Login with Instagram", "/auth/instagram" %>