<div class="top-bg">
  <div class="top-bg-container">
    <h1>Welcome to Adamgram</h1>
    <%= link_to "Log In", "/auth/instagram", class: "welcome-login" %>
  </div>
</div>
<section class="welcome">

  <h2>Capture and Share the World's Moments</h2>
  <p>
    Shminstagram is a free and simple way to share your life and keep up with other people.
  </p>
  <p>
    Take a picture or video, then customize it with filters and creative tools. Post it on Instagram and share instantly on Facebook, Twitter, Tumblr and more—or send it directly as a private message. Find people to follow based on things you’re into, and be part of an inspirational community.
  </p>
  <%= link_to "Login with Instagram", "/auth/instagram" %>
</section>