/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.hide-text {
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.footer-main {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

footer {
  padding: 30px 20px;
}

main {
  min-height: 100%;
  padding-top: 60px;
}

.menu-item {
  float: right;
}

nav {
  height: 77px;
  background-color: white;
  border-bottom-color: rgb(237, 238, 238);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

a { color:#0d3c5f; text-decoration: none; }
a:visited { color:#125688; }
a:hover { color:#0d3c5f; }
a:active { color:#0d3c5f; }

body {
  font-size: 15px;
  background-color: #fafafa;
  min-height: 100%;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}