.top-bg h1 {
  margin-top: 100px;
  font-size: 2.5em;
  color: white;
  margin: 0;
}

.top-bg-container {
  margin: 0 auto;
  max-width: 800px;
}

.top-bg {
  min-height: 236px;
  background-color: #125688;
}

.welcome {
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
}